language: cpp

script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_CXX_COMPILER=$COMPILER -DTWEEDLEDUM_TESTS=ON -DTWEEDLEDUM_BLAS=ON ..
  - make run_tests
  - ./tests/run_tests

jobs:
  include:
  - os: linux
    dist: bionic
    compiler: gcc
    addons:
      apt:
        sources: 
          - sourceline: "ppa:ubuntu-toolchain-r/test"
        packages:
          - g++-7
          - libblas-dev
          - liblapack-dev
    env: COMPILER=g++-7

  - os: linux
    dist: bionic
    compiler: gcc
    addons:
      apt:
        sources:
          - sourceline: "ppa:ubuntu-toolchain-r/test"
        packages:
          - g++-9
          - libblas-dev
          - liblapack-dev
    env: COMPILER=g++-9

  - os: linux
    dist: bionic
    compiler: clang
    addons:
      apt:
        sources:
          - sourceline: "ppa:ubuntu-toolchain-r/test"
        packages:
          - libblas-dev
          - liblapack-dev
    env: COMPILER=clang++

  - os: osx
    osx_image: xcode11
    compiler: clang
    before_install:
      - brew update
      - brew install llvm
    env: COMPILER=/usr/local/opt/llvm/bin/clang++

  - os: osx
    osx_image: xcode11
    compiler: gcc
    before_install:
      - brew upgrade gcc
    env: COMPILER=/usr/local/opt/gcc/bin/g++-9

  - os: osx
    osx_image: xcode11
    compiler: gcc
    before_install:
      - brew update
      - brew install gcc@7
    env: COMPILER=/usr/local/opt/gcc@7/bin/g++-7