name: Build wheels

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  build_sdist:
    name: Source distribution
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade scikit-build

      - name: Build sdist
        run: |
          python setup.py sdist --dist-dir=wheelhouse

      - name: Upload built sdist
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.tar.gz

  build_wheels:
    name: Wheels • ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1.5.0
        if: runner.os == 'Windows'
        env:
            CC: cl.exe
            CXX: cl.exe

      - name: Build wheels
        uses: joerick/cibuildwheel@v1.9.0
        env:
          CIBW_SKIP: cp27-* cp34-* cp35-* pp* *win32
          CIBW_ARCHS_MACOS: x86_64
          CIBW_TEST_COMMAND: python -m unittest discover -s {project}/python/test/ -t {project}
          CMAKE_BUILD_PARALLEL_LEVEL: 2
          MACOSX_DEPLOYMENT_TARGET: '10.14'

      - name: Upload built wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_wheels_macosx_10_9:
    name: Wheels • macOSX 10.9
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Build wheels
        uses: joerick/cibuildwheel@v1.9.0
        env:
          CIBW_SKIP: cp27-* cp34-* cp35-* pp* *win32
          CIBW_ARCHS_MACOS: x86_64
          CIBW_ENVIRONMENT: "CC=gcc-10 CXX=g++-10 CXXFLAGS='-static-libgcc -static-libstdc++'"
          CIBW_TEST_COMMAND: python -m unittest discover -s {project}/python/test/ -t {project}
          CMAKE_BUILD_PARALLEL_LEVEL: 2
          MACOSX_DEPLOYMENT_TARGET: '10.9'

      - name: Upload built wheels
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_wheels_win32:
    name: Wheels • win32
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1.5.0
        with:
            arch: x86

      - name: Build wheel
        uses: joerick/cibuildwheel@v1.9.0
        env:
          CC: cl.exe
          CXX: cl.exe
          CIBW_BUILD: cp3{6,7,8,9}*-win32
          CIBW_TEST_COMMAND: python -m unittest discover -s {project}/python/test/ -t {project}
          CMAKE_BUILD_PARALLEL_LEVEL: 2

      - name: Upload built wheel 
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
